## Second Part: Write queries that directly answer predetermined questions from a business stakeholder
I am using SQLite database through SQL Alchemy python to implement the SQL database for the queries.

In [120]:
import pandas as pd
import json
from sqlalchemy import create_engine, MetaData, Table, Column, String, Integer, Float, ForeignKey, text
from datetime import datetime, timezone

In [122]:
# Load JSON files into pandas DataFrames
users_df = pd.read_json('/Users/spartan/Downloads/users.json', lines=True)
receipts_df = pd.read_json('/Users/spartan/Downloads/receipts.json', lines=True)
brands_df = pd.read_json('/Users/spartan/Downloads/brands.json', lines=True)

#### Step 1 - Clean and Normalize Data

In [125]:
# Clean '_id' columns by extracting '$oid'
users_df['_id'] = users_df['_id'].apply(lambda x: x.get('$oid') if isinstance(x, dict) else x)
receipts_df['_id'] = receipts_df['_id'].apply(lambda x: x.get('$oid') if isinstance(x, dict) else x)
brands_df['_id'] = brands_df['_id'].apply(lambda x: x.get('$oid') if isinstance(x, dict) else x)

# Convert date fields from UNIX epoch format to datetime (timezone-aware)
users_df['createdDate'] = users_df['createdDate'].apply(lambda x: datetime.fromtimestamp(x['$date'] / 1000, tz=timezone.utc) if isinstance(x, dict) else x)
users_df['lastLogin'] = users_df['lastLogin'].apply(lambda x: datetime.fromtimestamp(x['$date'] / 1000, tz=timezone.utc) if isinstance(x, dict) else x)
receipts_df['createDate'] = receipts_df['createDate'].apply(lambda x: datetime.fromtimestamp(x['$date'] / 1000, tz=timezone.utc) if isinstance(x, dict) else x)

In [127]:
# Flatten the 'rewardsReceiptItemList' by converting it to JSON strings
receipts_df['rewardsReceiptItemList'] = receipts_df['rewardsReceiptItemList'].apply(lambda x: json.dumps(x) if isinstance(x, list) else x)

In [129]:
# Handle other date fields in receipts_df
date_fields = ['dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate', 'purchaseDate']
for field in date_fields:
    receipts_df[field] = receipts_df[field].apply(lambda x: datetime.fromtimestamp(x['$date'] / 1000, tz=timezone.utc) if isinstance(x, dict) else x)

In [131]:
#Serialize the 'cpg' column to a JSON string
brands_df['cpg'] = brands_df['cpg'].apply(lambda x: json.dumps(x) if isinstance(x, dict) else x)

In [133]:
# Renaming _id to respective column names
users_df.rename(columns={'_id': 'user_id'}, inplace=True)
receipts_df.rename(columns={'_id': 'receipt_id'}, inplace=True)
brands_df.rename(columns={'_id': 'brand_id'}, inplace=True)

#### Step 2 - Creating an SQLAlchemy Engine

In [139]:
# Create an in-memory SQLite database
engine = create_engine('sqlite:///my_database.db', echo=True)

In [141]:
# Define metadata to keep track of the table schemas
metadata = MetaData()

### Step 3 Defining Tables

In [143]:
# Define the users table
users_table = Table(
    'users', metadata,
    Column('user_id', String, primary_key=True),
    Column('active', Integer),
    Column('createdDate', String),
    Column('lastLogin', String),
    Column('role', String),
    Column('state', String),
    Column('signUpSource', String)
)

# Define the receipts table
receipts_table = Table(
    'receipts', metadata,
    Column('receipt_id', String, primary_key=True),
    Column('userId', String, ForeignKey('users.user_id')),
    Column('pointsEarned', Float),
    Column('bonusPointsEarned', Float),
    Column('bonusPointsEarnedReason', String),
    Column('createDate', String),
    Column('dateScanned', String),
    Column('finishedDate', String),
    Column('modifyDate', String),
    Column('pointsAwardedDate', String),
    Column('purchaseDate', String),
    Column('purchasedItemCount', Float),
    Column('rewardsReceiptItemList', String),
    Column('rewardsReceiptStatus', String),
    Column('totalSpent', Float)
)

# Define the brands table
brands_table = Table(
    'brands', metadata,
    Column('brand_id', String, primary_key=True),
    Column('barcode', String),
    Column('category', String),
    Column('categoryCode', String),
    Column('cpg', String),
    Column('name', String),
    Column('topBrand', Float),
    Column('brandCode', String)
)

# Define the items table
items_table = Table(
    'items', metadata,
    Column('itemId', Integer, primary_key=True, autoincrement=True),
    Column('receiptId', String, ForeignKey('receipts.receipt_id'), nullable=False),
    Column('barcode', String, ForeignKey('brands.barcode'), nullable=True),
    Column('description', String),
    Column('itemPrice', Float),
    Column('finalPrice', Float),
    Column('quantityPurchased', Integer)
)

# Create all tables in the SQLite database
metadata.create_all(engine)

2024-10-30 00:24:03,599 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 00:24:03,601 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-10-30 00:24:03,602 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:24:03,604 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("receipts")
2024-10-30 00:24:03,605 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:24:03,607 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("brands")
2024-10-30 00:24:03,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:24:03,611 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("items")
2024-10-30 00:24:03,612 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:24:03,614 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("items")
2024-10-30 00:24:03,615 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:24:03,621 INFO sqlalchemy.engine.Engine
CREATE TABLE items (
	"itemId" INTEGER NOT NULL,
	"receiptId" VARCHAR NOT NULL,
	barcode VARCHAR,
	description VARCHAR,
	"itemPrice" FLOAT,
	"finalPrice" FLOAT,
	"quantityPurchased" INTEGER,
	PRIMARY KEY ("itemId"),
	FOREIGN KEY("receiptId") REFERENCES receipts (receipt_id),
	FOREIGN KEY(barcode) REFERENCES brands (barcode)
)


2024-10-30 00:24:03,622 INFO sqlalchemy.engine.Engine [no key 0.00191s] ()
2024-10-30 00:24:03,707 INFO sqlalchemy.engine.Engine COMMIT

#### Step 4 - Insert DataFrames into SQL Tables

In [146]:
# Insert users into the SQL table
users_df.to_sql('users', con=engine, if_exists='replace', index=False)

# Insert receipts into the SQL table
receipts_df.to_sql('receipts', con=engine, if_exists='replace', index=False)

# Insert brands into the SQL table
brands_df.to_sql('brands', con=engine, if_exists='replace', index=False)

2024-10-30 00:25:37,851 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 00:25:37,856 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-10-30 00:25:37,857 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,858 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-10-30 00:25:37,858 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,859 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 00:25:37,859 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,860 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 00:25:37,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,861 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("users")
2024-10-30 00:25:37,861 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,862 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:37,862 INFO sqlalchemy.engine.Engine [raw sql] ('users',)
2024-10-30 00:25:37,863 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("users")
2024-10-30 00:25:37,863 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,863 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("users")
2024-10-30 00:25:37,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,864 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:37,864 INFO sqlalchemy.engine.Engine [raw sql] ('users',)
2024-10-30 00:25:37,865 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("users")
2024-10-30 00:25:37,865 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,868 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("users")
2024-10-30 00:25:37,868 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,869 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-10-30 00:25:37,870 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,871 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("users")
2024-10-30 00:25:37,871 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,872 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("users")
2024-10-30 00:25:37,873 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,874 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2024-10-30 00:25:37,874 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:37,875 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:37,876 INFO sqlalchemy.engine.Engine [raw sql] ('users',)
2024-10-30 00:25:37,877 INFO sqlalchemy.engine.Engine
DROP TABLE users
2024-10-30 00:25:37,878 INFO sqlalchemy.engine.Engine [no key 0.00039s] ()
2024-10-30 00:25:37,896 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	user_id TEXT,
	active BOOLEAN,
	"createdDate" TIMESTAMP,
	"lastLogin" TIMESTAMP,
	role TEXT,
	"signUpSource" TEXT,
	state TEXT
)


2024-10-30 00:25:37,897 INFO sqlalchemy.engine.Engine [no key 0.00062s] ()
2024-10-30 00:25:37,999 INFO sqlalchemy.engine.Engine INSERT INTO users (user_id, active, "createdDate", "lastLogin", role, "signUpSource", state) VALUES (?, ?, ?, ?, ?, ?, ?)
2024-10-30 00:25:38,001 INFO sqlalchemy.engine.Engine [generated in 0.00954s] [('5ff1e194b6a9d73a3a9f1052', 1, '2021-01-03 15:24:04.800000', '2021-01-03 15:25:37.858000', 'consumer', 'Email', 'WI'), ('5ff1e194b6a9d73a3a9f1052', 1, '2021-01-03 15:24:04.800000', '2021-01-03 15:25:37.858000', 'consumer', 'Email', 'WI'), ('5ff1e194b6a9d73a3a9f1052', 1, '2021-01-03 15:24:04.800000', '2021-01-03 15:25:37.858000', 'consumer', 'Email', 'WI'), ('5ff1e1eacfcf6c399c274ae6', 1, '2021-01-03 15:25:30.554000', '2021-01-03 15:25:30.597000', 'consumer', 'Email', 'WI'), ('5ff1e194b6a9d73a3a9f1052', 1, '2021-01-03 15:24:04.800000', '2021-01-03 15:25:37.858000', 'consumer', 'Email', 'WI'), ('5ff1e194b6a9d73a3a9f1052', 1, '2021-01-03 15:24:04.800000', '2021-01-03 15:25:37.858000', 'consumer', 'Email', 'WI'), ('5ff1e1e8cfcf6c399c274ad9', 1, '2021-01-03 15:25:28.354000', '2021-01-03 15:25:28.392000', 'consumer', 'Email', 'WI'), ('5ff1e1b7cfcf6c399c274a5a', 1, '2021-01-03 15:24:39.626000', '2021-01-03 15:24:39.665000', 'consumer', 'Email', 'WI')  ... displaying 10 of 495 total bound parameter sets ...  ('54943462e4b07e684157a532', 1, '2014-12-19 14:21:22.381000', '2021-03-05 16:52:23.204000', 'fetch-staff', None, None), ('54943462e4b07e684157a532', 1, '2014-12-19 14:21:22.381000', '2021-03-05 16:52:23.204000', 'fetch-staff', None, None)]
2024-10-30 00:25:38,009 INFO sqlalchemy.engine.Engine COMMIT
2024-10-30 00:25:38,015 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 00:25:38,033 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("receipts")
2024-10-30 00:25:38,035 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,037 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("receipts")
2024-10-30 00:25:38,038 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,040 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 00:25:38,040 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,042 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 00:25:38,043 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,044 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("receipts")
2024-10-30 00:25:38,045 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,046 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:38,047 INFO sqlalchemy.engine.Engine [raw sql] ('receipts',)
2024-10-30 00:25:38,048 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("receipts")
2024-10-30 00:25:38,048 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,049 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("receipts")
2024-10-30 00:25:38,049 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,050 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:38,050 INFO sqlalchemy.engine.Engine [raw sql] ('receipts',)
2024-10-30 00:25:38,050 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("receipts")
2024-10-30 00:25:38,050 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,051 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("receipts")
2024-10-30 00:25:38,051 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,052 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("receipts")
2024-10-30 00:25:38,052 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,054 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("receipts")
2024-10-30 00:25:38,054 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,055 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("receipts")
2024-10-30 00:25:38,055 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,056 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("receipts")
2024-10-30 00:25:38,056 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,057 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:38,057 INFO sqlalchemy.engine.Engine [raw sql] ('receipts',)
2024-10-30 00:25:38,059 INFO sqlalchemy.engine.Engine
DROP TABLE receipts
2024-10-30 00:25:38,060 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2024-10-30 00:25:38,125 INFO sqlalchemy.engine.Engine
CREATE TABLE receipts (
	receipt_id TEXT,
	"bonusPointsEarned" FLOAT,
	"bonusPointsEarnedReason" TEXT,
	"createDate" TIMESTAMP,
	"dateScanned" TIMESTAMP,
	"finishedDate" TIMESTAMP,
	"modifyDate" TIMESTAMP,
	"pointsAwardedDate" TIMESTAMP,
	"pointsEarned" FLOAT,
	"purchaseDate" TIMESTAMP,
	"purchasedItemCount" FLOAT,
	"rewardsReceiptItemList" TEXT,
	"rewardsReceiptStatus" TEXT,
	"totalSpent" FLOAT,
	"userId" TEXT
)


2024-10-30 00:25:38,126 INFO sqlalchemy.engine.Engine [no key 0.00133s] ()
2024-10-30 00:25:38,187 INFO sqlalchemy.engine.Engine INSERT INTO receipts (receipt_id, "bonusPointsEarned", "bonusPointsEarnedReason", "createDate", "dateScanned", "finishedDate", "modifyDate", "pointsAwardedDate", "pointsEarned", "purchaseDate", "purchasedItemCount", "rewardsReceiptItemList", "rewardsReceiptStatus", "totalSpent", "userId") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-10-30 00:25:38,188 INFO sqlalchemy.engine.Engine [generated in 0.02244s] [('5ff1e1eb0a720f0523000575', 500.0, 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:36.000000', '2021-01-03 15:25:31.000000', 500.0, '2021-01-03 00:00:00.000000', 5.0, '[{"barcode": "4011", "description": "ITEM NOT FOUND", "finalPrice": "26.00", "itemPrice": "26.00", "needsFetchReview": false, "partnerItemId": "1", " ... (19 characters truncated) ... nts": true, "quantityPurchased": 5, "userFlaggedBarcode": "4011", "userFlaggedNewItem": true, "userFlaggedPrice": "26.00", "userFlaggedQuantity": 5}]', 'FINISHED', 26.0, '5ff1e1eacfcf6c399c274ae6'), ('5ff1e1bb0a720f052300056b', 150.0, 'Receipt number 5 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:48.000000', '2021-01-03 15:24:43.000000', 150.0, '2021-01-02 15:24:43.000000', 2.0, '[{"barcode": "4011", "description": "ITEM NOT FOUND", "finalPrice": "1", "itemPrice": "1", "partnerItemId": "1", "quantityPurchased": 1}, {"barcode": ... (572 characters truncated) ... : "DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ", "userFlaggedNewItem": true, "userFlaggedPrice": "10.00", "userFlaggedQuantity": 1}]', 'FINISHED', 11.0, '5ff1e194b6a9d73a3a9f1052'), ('5ff1e1f10a720f052300057a', 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:37.000000', '2021-01-03 15:25:37.000000', None, '2021-01-03 15:25:42.000000', None, 5.0, '2021-01-03 00:00:00.000000', 1.0, '[{"needsFetchReview": false, "partnerItemId": "1", "preventTargetGapPoints": true, "userFlaggedBarcode": "4011", "userFlaggedNewItem": true, "userFlaggedPrice": "26.00", "userFlaggedQuantity": 3}]', 'REJECTED', 10.0, '5ff1e1f1cfcf6c399c274b0b'), ('5ff1e1ee0a7214ada100056f', 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:39.000000', '2021-01-03 15:25:34.000000', 5.0, '2021-01-03 00:00:00.000000', 4.0, '[{"barcode": "4011", "description": "ITEM NOT FOUND", "finalPrice": "28.00", "itemPrice": "28.00", "needsFetchReview": false, "partnerItemId": "1", " ... (19 characters truncated) ... nts": true, "quantityPurchased": 4, "userFlaggedBarcode": "4011", "userFlaggedNewItem": true, "userFlaggedPrice": "28.00", "userFlaggedQuantity": 4}]', 'FINISHED', 28.0, '5ff1e1eacfcf6c399c274ae6'), ('5ff1e1d20a7214ada1000561', 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:06.000000', '2021-01-03 15:25:06.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:06.000000', 5.0, '2021-01-02 15:25:06.000000', 2.0, '[{"barcode": "4011", "description": "ITEM NOT FOUND", "finalPrice": "1", "itemPrice": "1", "partnerItemId": "1", "quantityPurchased": 1}, {"barcode": ... (191 characters truncated) ... d": 3, "userFlaggedBarcode": "1234", "userFlaggedDescription": "", "userFlaggedNewItem": true, "userFlaggedPrice": "2.56", "userFlaggedQuantity": 3}]', 'FINISHED', 1.0, '5ff1e194b6a9d73a3a9f1052'), ('5ff1e1e40a7214ada1000566', 750.0, 'Receipt number 1 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:25:24.000000', '2021-01-03 15:25:24.000000', '2021-01-03 15:25:25.000000', '2021-01-03 15:25:30.000000', '2021-01-03 15:25:25.000000', 750.0, '2021-01-02 15:25:24.000000', 1.0, '[{"barcode": "4011", "description": "ITEM NOT FOUND", "finalPrice": "3.25", "itemPrice": "3.25", "needsFetchReview": false, "originalMetaBriteBarcode ... (297 characters truncated) ... ": 1, "rewardsGroup": "DORITOS SPICY SWEET CHILI SINGLE SERVE", "rewardsProductPartnerId": "5332f5fbe4b03c9a25efd0ba", "userFlaggedBarcode": "4011"}]', 'FINISHED', 3.25, '5ff1e1e4cfcf6c399c274ac3'), ('5ff1e1cd0a720f052300056f', 5.0, 'All-receipts receipt bonus', '2021-01-03 15:25:01.000000', '2021-01-03 15:25:01.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', 5.0, '2021-01-03 15:25:01.000000', 1.0, '[{"brandCode": "MISSION", "competitorRewardsGroup": "TACO BELL TACO SHELLS", "description": "MSSN TORTLLA", "discountedItemPrice": "2.23", "finalPrice": "2.23", "itemPrice": "2.23", "originalReceiptItemText": "MSSN TORTLLA", "partnerItemId": "1009", "quantityPurchased": 1}]', 'FINISHED', 2.23, '5ff1e194b6a9d73a3a9f1052'), ('5ff1e1a40a720f0523000569', 500.0, 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', '2021-01-03 15:24:20.000000', '2021-01-03 15:24:20.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', 500.0, '2020-12-27 00:00:00.000000', 1.0, '[{"barcode": "046000832517", "brandCode": "BRAND", "description": "Old El Paso Mild Chopped Green Chiles, 4.5 Oz", "finalPrice": "10.00", "itemPrice" ... (120 characters truncated) ... f5f3e4b03c9a25efd0ae", "quantityPurchased": 1, "rewardsGroup": "OLD EL PASO BEANS & PEPPERS", "rewardsProductPartnerId": "5332f5f3e4b03c9a25efd0ae"}]', 'FINISHED', 10.0, '5ff1e194b6a9d73a3a9f1052')  ... displaying 10 of 1119 total bound parameter sets ...  ('603ce7100a7217c72c000405', 25.0, 'COMPLETE_NONPARTNER_RECEIPT', '2021-03-01 13:07:28.000000', '2021-03-01 13:07:28.000000', None, '2021-03-01 13:07:29.000000', None, 25.0, '2020-08-17 00:00:00.000000', 2.0, '[{"barcode": "B076FJ92M4", "description": "mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd ... (622 characters truncated) ... ust summer face mask - sun protection neck gaiter for outdooractivities", "partnerItemId": "1", "priceAfterCoupon": "11.99", "quantityPurchased": 1}]', 'REJECTED', 34.96, '5fc961c3b8cfca11a077dd33'), ('603c4fea0a7217c72c000389', None, None, '2021-03-01 02:22:34.962000', '2021-03-01 02:22:34.962000', None, '2021-03-01 02:22:34.962000', None, None, None, None, None, 'SUBMITTED', None, '5fc961c3b8cfca11a077dd33')]
2024-10-30 00:25:38,203 INFO sqlalchemy.engine.Engine COMMIT
2024-10-30 00:25:38,210 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 00:25:38,214 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("brands")
2024-10-30 00:25:38,216 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,222 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("brands")
2024-10-30 00:25:38,223 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,224 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 00:25:38,224 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,225 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 00:25:38,225 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,226 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("brands")
2024-10-30 00:25:38,227 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,228 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:38,228 INFO sqlalchemy.engine.Engine [raw sql] ('brands',)
2024-10-30 00:25:38,230 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("brands")
2024-10-30 00:25:38,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,234 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("brands")
2024-10-30 00:25:38,235 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,235 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:38,236 INFO sqlalchemy.engine.Engine [raw sql] ('brands',)
2024-10-30 00:25:38,236 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("brands")
2024-10-30 00:25:38,237 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,238 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("brands")
2024-10-30 00:25:38,239 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,239 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("brands")
2024-10-30 00:25:38,240 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,251 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("brands")
2024-10-30 00:25:38,252 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,252 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("brands")
2024-10-30 00:25:38,252 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,253 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("brands")
2024-10-30 00:25:38,253 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 00:25:38,253 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 00:25:38,253 INFO sqlalchemy.engine.Engine [raw sql] ('brands',)
2024-10-30 00:25:38,254 INFO sqlalchemy.engine.Engine
DROP TABLE brands
2024-10-30 00:25:38,255 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2024-10-30 00:25:38,288 INFO sqlalchemy.engine.Engine
CREATE TABLE brands (
	brand_id TEXT,
	barcode BIGINT,
	category TEXT,
	"categoryCode" TEXT,
	cpg TEXT,
	name TEXT,
	"topBrand" FLOAT,
	"brandCode" TEXT
)


2024-10-30 00:25:38,289 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2024-10-30 00:25:38,304 INFO sqlalchemy.engine.Engine INSERT INTO brands (brand_id, barcode, category, "categoryCode", cpg, name, "topBrand", "brandCode") VALUES (?, ?, ?, ?, ?, ?, ?, ?)

1167

### Extracting item details and inserting in item table

In [208]:
#  Parse the 'rewardsReceiptItemList' JSON strings and extract item details
items_data = []

for _, row in receipts_df.iterrows():
    receipt_id = row['receipt_id']
    rewards_items = row['rewardsReceiptItemList']
    if pd.notna(rewards_items):
        items_list = json.loads(rewards_items)
        for item in items_list:
            # Extract item details if they exist in the JSON
            barcode = item.get('barcode')
            description = item.get('description')
            item_price = item.get('itemPrice')
            final_price = item.get('finalPrice')
            quantity_purchased = item.get('quantityPurchased')
            
            # Append the extracted item details to the list
            items_data.append({
                'receiptId': receipt_id,
                'barcode': barcode,
                'description': description,
                'itemPrice': item_price,
                'finalPrice': final_price,
                'quantityPurchased': quantity_purchased
            })

# Step 2: Create a DataFrame for the 'items' table
items_df = pd.DataFrame(items_data)

# Step 3: Insert the items DataFrame into the 'items' SQL table
items_df.to_sql('items', con=engine, if_exists='replace', index=False)

2024-10-30 01:23:45,223 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:23:45,229 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("items")
2024-10-30 01:23:45,230 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,231 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("items")
2024-10-30 01:23:45,231 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,232 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 01:23:45,232 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,235 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-10-30 01:23:45,235 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,239 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("items")
2024-10-30 01:23:45,239 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,241 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 01:23:45,241 INFO sqlalchemy.engine.Engine [raw sql] ('items',)
2024-10-30 01:23:45,242 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("items")
2024-10-30 01:23:45,242 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,242 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("items")
2024-10-30 01:23:45,243 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,243 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 01:23:45,243 INFO sqlalchemy.engine.Engine [raw sql] ('items',)
2024-10-30 01:23:45,244 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("items")
2024-10-30 01:23:45,244 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,245 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("items")
2024-10-30 01:23:45,245 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,246 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("items")
2024-10-30 01:23:45,246 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,247 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("items")
2024-10-30 01:23:45,247 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,248 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("items")
2024-10-30 01:23:45,248 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,249 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("items")
2024-10-30 01:23:45,249 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-10-30 01:23:45,250 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-10-30 01:23:45,250 INFO sqlalchemy.engine.Engine [raw sql] ('items',)
2024-10-30 01:23:45,252 INFO sqlalchemy.engine.Engine
DROP TABLE items
2024-10-30 01:23:45,252 INFO sqlalchemy.engine.Engine [no key 0.00058s] ()
2024-10-30 01:23:45,270 INFO sqlalchemy.engine.Engine
CREATE TABLE items (
	"receiptId" TEXT,
	barcode TEXT,
	description TEXT,
	"itemPrice" TEXT,
	"finalPrice" TEXT,
	"quantityPurchased" FLOAT
)


2024-10-30 01:23:45,271 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2024-10-30 01:23:45,311 INFO sqlalchemy.engine.Engine INSERT INTO items ("receiptId", barcode, description, "itemPrice", "finalPrice", "quantityPurchased") VALUES (?, ?, ?, ?, ?, ?)
2024-10-30 01:23:45,312 INFO sqlalchemy.engine.Engine [generated in 0.02097s] [('5ff1e1eb0a720f0523000575', '4011', 'ITEM NOT FOUND', '26.00', '26.00', 5.0), ('5ff1e1bb0a720f052300056b', '4011', 'ITEM NOT FOUND', '1', '1', 1.0), ('5ff1e1bb0a720f052300056b', '028400642255', 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', '10.00', '10.00', 1.0), ('5ff1e1f10a720f052300057a', None, None, None, None, None), ('5ff1e1ee0a7214ada100056f', '4011', 'ITEM NOT FOUND', '28.00', '28.00', 4.0), ('5ff1e1d20a7214ada1000561', '4011', 'ITEM NOT FOUND', '1', '1', 1.0), ('5ff1e1d20a7214ada1000561', '1234', None, '2.56', '2.56', 3.0), ('5ff1e1e40a7214ada1000566', '4011', 'ITEM NOT FOUND', '3.25', '3.25', 1.0)  ... displaying 10 of 6941 total bound parameter sets ...  ('603ce7100a7217c72c000405', 'B076FJ92M4', 'mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd motor also for spices, herbs, nuts,grains, white', '22.97', '22.97', 1.0), ('603ce7100a7217c72c000405', 'B07BRRLSVC', 'thindust summer face mask - sun protection neck gaiter for outdooractivities', '11.99', '11.99', 1.0)]
2024-10-30 01:23:45,331 INFO sqlalchemy.engine.Engine COMMIT

6941

### Step 5 Running the Queries

In [215]:
from sqlalchemy import func, text
from datetime import datetime, timedelta

# Calculate date ranges for recent and previous month
now = datetime.now()
start_of_this_month = now.replace(day=1)
start_of_last_month = (start_of_this_month - timedelta(days=1)).replace(day=1)
end_of_last_month = start_of_this_month - timedelta(days=1)

#### 1. What are the top 5 brands by receipts scanned for most recent month?

In [226]:
with engine.connect() as conn:
    # 1. Top 5 brands by receipts scanned for the most recent month
    top_5_brands_query = text("""
        SELECT b.name, COUNT(r.receipt_id) AS receipt_count
        FROM receipts r
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE r.createDate >= date('now', '-1 month')
        GROUP BY b.name
        ORDER BY receipt_count DESC
        LIMIT 5;
    """)

    try:
        top_5_brands_result = conn.execute(top_5_brands_query).fetchall()
        print("\nTop 5 Brands by Receipts Scanned for Most Recent Month:")
        for row in top_5_brands_result:
            print(row)
    except Exception as e:
        print(f"An error occurred while fetching top 5 brands: {e}")

2024-10-30 01:35:06,316 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:35:06,319 INFO sqlalchemy.engine.Engine
        SELECT b.name, COUNT(r.receipt_id) AS receipt_count
        FROM receipts r
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE r.createDate >= date('now', '-1 month')
        GROUP BY b.name
        ORDER BY receipt_count DESC
        LIMIT 5;

2024-10-30 01:35:06,320 INFO sqlalchemy.engine.Engine [generated in 0.00407s] ()

Top 5 Brands by Receipts Scanned for Most Recent Month:
2024-10-30 01:35:06,324 INFO sqlalchemy.engine.Engine ROLLBACK

#### 2. How does the ranking of the top 5 brands by receipts scanned for the recent month compare to the ranking for the previous month?

In [229]:
with engine.connect() as conn:
    # 2. Ranking comparison of top 5 brands by receipts scanned for recent and previous month
    recent_month_query = text("""
        SELECT b.name, COUNT(r.receipt_id) AS receipt_count
        FROM receipts r
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE r.createDate BETWEEN :start_of_this_month AND :now
        GROUP BY b.name
        ORDER BY receipt_count DESC
        LIMIT 5;
    """)

    last_month_query = text("""
        SELECT b.name, COUNT(r.receipt_id) AS receipt_count
        FROM receipts r
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE r.createDate BETWEEN :start_of_last_month AND :end_of_last_month
        GROUP BY b.name
        ORDER BY receipt_count DESC
        LIMIT 5;
    """)

    # Execute queries for recent and previous month
    recent_month_result = conn.execute(recent_month_query, {
        'start_of_this_month': start_of_this_month, 
        'now': now
    }).fetchall()
    last_month_result = conn.execute(last_month_query, {
        'start_of_last_month': start_of_last_month, 
        'end_of_last_month': end_of_last_month
    }).fetchall()

    print("Top 5 Brands for Recent Month:")
    for row in recent_month_result:
        print(row)

    print("\nTop 5 Brands for Previous Month:")
    for row in last_month_result:
        print(row)

2024-10-30 01:35:20,800 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:35:20,801 INFO sqlalchemy.engine.Engine
        SELECT b.name, COUNT(r.receipt_id) AS receipt_count
        FROM receipts r
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE r.createDate BETWEEN ? AND ?
        GROUP BY b.name
        ORDER BY receipt_count DESC
        LIMIT 5;

2024-10-30 01:35:20,801 INFO sqlalchemy.engine.Engine [cached since 2636s ago] (datetime.datetime(2024, 10, 1, 1, 27, 30, 585509), datetime.datetime(2024, 10, 30, 1, 27, 30, 585509))
2024-10-30 01:35:20,803 INFO sqlalchemy.engine.Engine
        SELECT b.name, COUNT(r.receipt_id) AS receipt_count
        FROM receipts r
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE r.createDate BETWEEN ? AND ?
        GROUP BY b.name
        ORDER BY receipt_count DESC
        LIMIT 5;

2024-10-30 01:35:20,803 INFO sqlalchemy.engine.Engine [cached since 2636s ago] (datetime.datetime(2024, 9, 1, 1, 27, 30, 585509), datetime.datetime(2024, 9, 30, 1, 27, 30, 585509))
Top 5 Brands for Recent Month:

Top 5 Brands for Previous Month:
2024-10-30 01:35:20,804 INFO sqlalchemy.engine.Engine ROLLBACK

#### 3. Which brand has the most transactions among users who were created within the past 6 months?

In [221]:
with engine.connect() as conn:
    most_transactions_query = text("""
        SELECT b.name, COUNT(r.receipt_id) AS transaction_count
        FROM users u
        JOIN receipts r ON u.user_id = r.userId
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE u.createdDate >= :six_months_ago
        GROUP BY b.name
        ORDER BY transaction_count DESC
        LIMIT 1;
    """)

    most_transactions_result = conn.execute(most_transactions_query, {'six_months_ago': six_months_ago}).fetchone()
    print("\nBrand with Most Transactions Among Users Created in Last 6 Months:")
    print(most_transactions_result)

2024-10-30 01:30:29,803 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:30:29,804 INFO sqlalchemy.engine.Engine
        SELECT b.name, COUNT(r.receipt_id) AS transaction_count
        FROM users u
        JOIN receipts r ON u.user_id = r.userId
        JOIN items i ON r.receipt_id = i.receiptId
        JOIN brands b ON i.barcode = b.barcode
        WHERE u.createdDate >= ?
        GROUP BY b.name
        ORDER BY transaction_count DESC
        LIMIT 1;

2024-10-30 01:30:29,805 INFO sqlalchemy.engine.Engine [cached since 1780s ago] (datetime.datetime(2024, 5, 3, 1, 0, 49, 411960),)

Brand with Most Transactions Among Users Created in Last 6 Months:
None
2024-10-30 01:30:29,807 INFO sqlalchemy.engine.Engine ROLLBACK

#### There 0 brands so let's check if there are any users created in last 6 months

In [256]:
with engine.connect() as conn:
    users_query = text("""
        SELECT COUNT(*)
        FROM users
        WHERE createdDate >= :six_months_ago
    """)
    users_result = conn.execute(users_query, {'six_months_ago': six_months_ago}).scalar()
    print(f"Number of users created in the last 6 months: {users_result}")

2024-10-30 02:01:05,379 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 02:01:05,381 INFO sqlalchemy.engine.Engine
        SELECT COUNT(*)
        FROM users
        WHERE createdDate >= ?

2024-10-30 02:01:05,382 INFO sqlalchemy.engine.Engine [cached since 3536s ago] (datetime.datetime(2024, 5, 3, 1, 0, 49, 411960),)
Number of users created in the last 6 months: 0
2024-10-30 02:01:05,385 INFO sqlalchemy.engine.Engine ROLLBACK

#### Checking the Dates

In [202]:
from sqlalchemy import text

with engine.connect() as conn:
    date_columns_query = text("""
        SELECT createDate, dateScanned, finishedDate, modifyDate, pointsAwardedDate, purchaseDate
        FROM receipts
        LIMIT 10;
    """)

    try:
        date_columns_result = conn.execute(date_columns_query).fetchall()
        if date_columns_result:
            print("\nSample Dates from Receipts Table:")
            for row in date_columns_result:
                print(row)
        else:
            print("\nNo records found in Receipts Table.")
    except Exception as e:
        print(f"An error occurred: {e}")

2024-10-30 01:11:05,184 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:11:05,187 INFO sqlalchemy.engine.Engine
        SELECT createDate, dateScanned, finishedDate, modifyDate, pointsAwardedDate, purchaseDate
        FROM receipts
        LIMIT 10;

2024-10-30 01:11:05,188 INFO sqlalchemy.engine.Engine [cached since 184.4s ago] ()

Sample Dates from Receipts Table:
('2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:36.000000', '2021-01-03 15:25:31.000000', '2021-01-03 00:00:00.000000')
('2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:48.000000', '2021-01-03 15:24:43.000000', '2021-01-02 15:24:43.000000')
('2021-01-03 15:25:37.000000', '2021-01-03 15:25:37.000000', None, '2021-01-03 15:25:42.000000', None, '2021-01-03 00:00:00.000000')
('2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:39.000000', '2021-01-03 15:25:34.000000', '2021-01-03 00:00:00.000000')
('2021-01-03 15:25:06.000000', '2021-01-03 15:25:06.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:06.000000', '2021-01-02 15:25:06.000000')
('2021-01-03 15:25:24.000000', '2021-01-03 15:25:24.000000', '2021-01-03 15:25:25.000000', '2021-01-03 15:25:30.000000', '2021-01-03 15:25:25.000000', '2021-01-02 15:25:24.000000')
('2021-01-03 15:25:01.000000', '2021-01-03 15:25:01.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:01.000000')
('2021-01-03 15:24:20.000000', '2021-01-03 15:24:20.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', '2020-12-27 00:00:00.000000')
('2021-01-03 15:25:33.000000', '2021-01-03 15:25:33.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:38.000000', '2021-01-03 15:25:34.000000', '2021-01-03 00:00:00.000000')
('2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:36.000000', '2021-01-03 15:25:31.000000', '2021-01-03 00:00:00.000000')
2024-10-30 01:11:05,194 INFO sqlalchemy.engine.Engine ROLLBACK

## All the sample dates in the receipts table are from the year 2021. This is why queries that depend on recent data (such as transactions in the last 6 months) are returning None or empty results. The data in this database does not contain any recent records beyond 2021.

### Adjusting date ranges for the existing data in the database

In [267]:
# Adjusting date ranges for the existing data in the database (January 2021 and December 2020)
start_of_this_month = datetime(2021, 1, 1)
end_of_this_month = datetime(2021, 1, 31)

start_of_last_month = datetime(2020, 12, 1)
end_of_last_month = datetime(2020, 12, 31)

with engine.connect() as conn:
    date_columns_query = text("""
        SELECT createDate, dateScanned, finishedDate, modifyDate, pointsAwardedDate, purchaseDate
        FROM receipts
        LIMIT 10;
    """)

    try:
        date_columns_result = conn.execute(date_columns_query).fetchall()
        if date_columns_result:
            print("\nSample Dates from Receipts Table:")
            for row in date_columns_result:
                print(row)
        else:
            print("\nNo records found in Receipts Table.")
    except Exception as e:
        print(f"An error occurred: {e}")

2024-10-30 02:06:25,111 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 02:06:25,112 INFO sqlalchemy.engine.Engine
        SELECT createDate, dateScanned, finishedDate, modifyDate, pointsAwardedDate, purchaseDate
        FROM receipts
        LIMIT 10;

2024-10-30 02:06:25,113 INFO sqlalchemy.engine.Engine [cached since 3504s ago] ()

Sample Dates from Receipts Table:
('2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:36.000000', '2021-01-03 15:25:31.000000', '2021-01-03 00:00:00.000000')
('2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:43.000000', '2021-01-03 15:24:48.000000', '2021-01-03 15:24:43.000000', '2021-01-02 15:24:43.000000')
('2021-01-03 15:25:37.000000', '2021-01-03 15:25:37.000000', None, '2021-01-03 15:25:42.000000', None, '2021-01-03 00:00:00.000000')
('2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:39.000000', '2021-01-03 15:25:34.000000', '2021-01-03 00:00:00.000000')
('2021-01-03 15:25:06.000000', '2021-01-03 15:25:06.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:11.000000', '2021-01-03 15:25:06.000000', '2021-01-02 15:25:06.000000')
('2021-01-03 15:25:24.000000', '2021-01-03 15:25:24.000000', '2021-01-03 15:25:25.000000', '2021-01-03 15:25:30.000000', '2021-01-03 15:25:25.000000', '2021-01-02 15:25:24.000000')
('2021-01-03 15:25:01.000000', '2021-01-03 15:25:01.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:02.000000', '2021-01-03 15:25:01.000000')
('2021-01-03 15:24:20.000000', '2021-01-03 15:24:20.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', '2021-01-03 15:24:21.000000', '2020-12-27 00:00:00.000000')
('2021-01-03 15:25:33.000000', '2021-01-03 15:25:33.000000', '2021-01-03 15:25:34.000000', '2021-01-03 15:25:38.000000', '2021-01-03 15:25:34.000000', '2021-01-03 00:00:00.000000')
('2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:31.000000', '2021-01-03 15:25:36.000000', '2021-01-03 15:25:31.000000', '2021-01-03 00:00:00.000000')
2024-10-30 02:06:25,115 INFO sqlalchemy.engine.Engine ROLLBACK

In [269]:
# Queries for top 5 brands for January 2021 and December 2020
recent_month_query = text("""
    SELECT b.name, COUNT(r.receipt_id) AS receipt_count
    FROM receipts r
    JOIN items i ON r.receipt_id = i.receiptId
    JOIN brands b ON i.barcode = b.barcode
    WHERE r.createDate BETWEEN :start_of_this_month AND :end_of_this_month
    GROUP BY b.name
    ORDER BY receipt_count DESC
    LIMIT 5;
""")

last_month_query = text("""
    SELECT b.name, COUNT(r.receipt_id) AS receipt_count
    FROM receipts r
    JOIN items i ON r.receipt_id = i.receiptId
    JOIN brands b ON i.barcode = b.barcode
    WHERE r.createDate BETWEEN :start_of_last_month AND :end_of_last_month
    GROUP BY b.name
    ORDER BY receipt_count DESC
    LIMIT 5;
""")

with engine.connect() as conn:
    try:
        # Execute queries for recent and previous month
        recent_month_result = conn.execute(recent_month_query, {
            'start_of_this_month': start_of_this_month,
            'end_of_this_month': end_of_this_month
        }).fetchall()

        last_month_result = conn.execute(last_month_query, {
            'start_of_last_month': start_of_last_month,
            'end_of_last_month': end_of_last_month
        }).fetchall()

        print("Top 5 Brands for January 2021:")
        for row in recent_month_result:
            print(row)

        print("\nTop 5 Brands for December 2020:")
        for row in last_month_result:
            print(row)

    except Exception as e:
        print(f"An error occurred: {e}")

2024-10-30 02:08:03,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 02:08:03,986 INFO sqlalchemy.engine.Engine
    SELECT b.name, COUNT(r.receipt_id) AS receipt_count
    FROM receipts r
    JOIN items i ON r.receipt_id = i.receiptId
    JOIN brands b ON i.barcode = b.barcode
    WHERE r.createDate BETWEEN ? AND ?
    GROUP BY b.name
    ORDER BY receipt_count DESC
    LIMIT 5;

2024-10-30 02:08:03,987 INFO sqlalchemy.engine.Engine [generated in 0.01429s] (datetime.datetime(2021, 1, 1, 0, 0), datetime.datetime(2021, 1, 31, 0, 0))
2024-10-30 02:08:04,005 INFO sqlalchemy.engine.Engine
    SELECT b.name, COUNT(r.receipt_id) AS receipt_count
    FROM receipts r
    JOIN items i ON r.receipt_id = i.receiptId
    JOIN brands b ON i.barcode = b.barcode
    WHERE r.createDate BETWEEN ? AND ?
    GROUP BY b.name
    ORDER BY receipt_count DESC
    LIMIT 5;

2024-10-30 02:08:04,006 INFO sqlalchemy.engine.Engine [generated in 0.00142s] (datetime.datetime(2020, 12, 1, 0, 0), datetime.datetime(2020, 12, 31, 0, 0))
Top 5 Brands for January 2021:
('Tostitos', 23)
('Swanson', 11)
('Cracker Barrel Cheese', 10)
('Prego', 7)
('Diet Chris Cola', 7)

Top 5 Brands for December 2020:
2024-10-30 02:08:04,011 INFO sqlalchemy.engine.Engine ROLLBACK

#### 4. When considering average spend from receipts with 'rewardsReceiptStatus’ of ‘Accepted’ or ‘Rejected’, which is greater?

In [236]:
with engine.connect() as conn:
    avg_spend_query = text("""
        SELECT rewardsReceiptStatus, AVG(totalSpent) AS average_spend
        FROM receipts
        WHERE rewardsReceiptStatus IN ('Accepted', 'Rejected')
        GROUP BY rewardsReceiptStatus;
    """)

    try:
        avg_spend_result = conn.execute(avg_spend_query).fetchall()
        print("\nAverage Spend from Receipts with 'Accepted' or 'Rejected' Status:")
        for row in avg_spend_result:
            print(row)
    except Exception as e:
        print(f"An error occurred while fetching average spend: {e}")

2024-10-30 01:38:54,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:38:54,482 INFO sqlalchemy.engine.Engine
        SELECT rewardsReceiptStatus, AVG(totalSpent) AS average_spend
        FROM receipts
        WHERE rewardsReceiptStatus IN ('Accepted', 'Rejected')
        GROUP BY rewardsReceiptStatus;

2024-10-30 01:38:54,483 INFO sqlalchemy.engine.Engine [generated in 0.00343s] ()

Average Spend from Receipts with 'Accepted' or 'Rejected' Status:
2024-10-30 01:38:54,515 INFO sqlalchemy.engine.Engine ROLLBACK

#### Since it is returning empty let's check if there are any records with rewardsReceiptStatus as 'Accepted' or 'Rejected'.

In [238]:
with engine.connect() as conn:
    status_check_query = text("""
        SELECT rewardsReceiptStatus, COUNT(*)
        FROM receipts
        WHERE rewardsReceiptStatus IN ('Accepted', 'Rejected')
        GROUP BY rewardsReceiptStatus;
    """)

    try:
        status_check_result = conn.execute(status_check_query).fetchall()
        if status_check_result:
            print("\nCount of Receipts with 'Accepted' or 'Rejected' Status:")
            for row in status_check_result:
                print(row)
        else:
            print("\nNo receipts found with 'Accepted' or 'Rejected' status.")
    except Exception as e:
        print(f"An error occurred while checking receipt status: {e}")

2024-10-30 01:40:11,358 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:40:11,360 INFO sqlalchemy.engine.Engine
        SELECT rewardsReceiptStatus, COUNT(*)
        FROM receipts
        WHERE rewardsReceiptStatus IN ('Accepted', 'Rejected')
        GROUP BY rewardsReceiptStatus;

2024-10-30 01:40:11,362 INFO sqlalchemy.engine.Engine [generated in 0.00360s] ()

No receipts found with 'Accepted' or 'Rejected' status.
2024-10-30 01:40:11,370 INFO sqlalchemy.engine.Engine ROLLBACK

#### Since no receipts found let's check the values existing in the rewardsReceiptStatus column.

In [251]:
with engine.connect() as conn:
    unique_status_query = text("""
        SELECT DISTINCT rewardsReceiptStatus
        FROM receipts;
    """)

    try:
        unique_status_result = conn.execute(unique_status_query).fetchall()
        if unique_status_result:
            print("\nUnique Rewards Receipt Status Values:")
            for row in unique_status_result:
                print(row)
        else:
            print("\nNo rewardsReceiptStatus found in Receipts Table.")
    except Exception as e:
        print(f"An error occurred while fetching unique receipt status values: {e}")

2024-10-30 01:49:45,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:49:45,141 INFO sqlalchemy.engine.Engine
        SELECT DISTINCT rewardsReceiptStatus
        FROM receipts;

2024-10-30 01:49:45,142 INFO sqlalchemy.engine.Engine [cached since 520.4s ago] ()

Unique Rewards Receipt Status Values:
('FINISHED',)
('REJECTED',)
('FLAGGED',)
('SUBMITTED',)
('PENDING',)
2024-10-30 01:49:45,151 INFO sqlalchemy.engine.Engine ROLLBACK

#### Accepted is not present, we can use the appropriate available status. FINISHED and REJECTED

In [242]:
with engine.connect() as conn:
    avg_spend_query = text("""
        SELECT rewardsReceiptStatus, AVG(totalSpent) AS average_spend
        FROM receipts
        WHERE rewardsReceiptStatus IN ('FINISHED', 'REJECTED')
        GROUP BY rewardsReceiptStatus;
    """)

    try:
        avg_spend_result = conn.execute(avg_spend_query).fetchall()
        if avg_spend_result:
            print("\nAverage Spend from Receipts with 'FINISHED' or 'REJECTED' Status:")
            for row in avg_spend_result:
                print(row)
        else:
            print("\nNo receipts found with 'FINISHED' or 'REJECTED' status.")
    except Exception as e:
        print(f"An error occurred while fetching average spend: {e}")

2024-10-30 01:42:07,678 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-10-30 01:42:07,681 INFO sqlalchemy.engine.Engine
        SELECT rewardsReceiptStatus, AVG(totalSpent) AS average_spend
        FROM receipts
        WHERE rewardsReceiptStatus IN ('FINISHED', 'REJECTED')
        GROUP BY rewardsReceiptStatus;

2024-10-30 01:42:07,681 INFO sqlalchemy.engine.Engine [generated in 0.00433s] ()

Average Spend from Receipts with 'FINISHED' or 'REJECTED' Status:
('FINISHED', 80.85430501930502)
('REJECTED', 23.32605633802817)
2024-10-30 01:42:07,691 INFO sqlalchemy.engine.Engine ROLLBACK

### Based on the results:
#### 1. Average Spend for 'FINISHED' Receipts: 80.85
#### 2. Average Spend for 'REJECTED' Receipts: 23.33
#### The average spend is greater for receipts with a status of 'FINISHED' compared to 'REJECTED'.